<div class="newtweet">
<div class="row">
<h3>What's happening, <%=current_user.username%>?</h3>
    <%= form_for(@tweet=Tweet.new) do |f| %>
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="field" id="tweetbody">
        <%= f.text_area :post, maxlength: 140, :class => 'entertweet' %>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= f.submit 'Tweet!', :class => 'buttontweet'%>
    </div>
  </div>
    
<% end %>
</div>
</div>