@import "bootstrap-sprockets";
@import "bootstrap";

html {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   -webkit-font-smoothing: antialiased;
}

.navbar {
   background: #657786 ;
   color: white;
}

.navbar a {
   text-decoration: none;
   color: white;
}
.navbar a:hover, a:active {
   color: #14171a;
}

#avatar {
   width: 100%;
}

#tweetavatars {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
#tweetavatars img {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

#tweetthis {
    right: 0;
}
#entertweet {
    width: 600px;
}